{
  "plugins": [
    [
      "@oigroup/babel-plugin-lightscript-self-host",
      {
        "existential": true,
        "safeCall": true,
        "bangCall": true,
        "enhancedComprehension": true,
        "noEnforcedSubscriptIndentation": true,
        "flippedImports": true,
        "disableJsx": true
      }
    ],
    "add-module-exports",
    "transform-flow-strip-types"
  ],
  "presets": [["env", { "targets": { "node": 4 } }]]
}
